{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
     <h1>S'incrire sur notre ToDoSite</h1>
    <div class="container cont">
        <div class="row">
            {{ form_start(registrationForm) }}  
                {{ form_row(registrationForm.firstname,{
                    label: 'Prénom : '
                }) }}<br/>
                {{ form_row(registrationForm.lastname,{
                    label: 'Nom : '
                }) }}<br/>           
                {{ form_row(registrationForm.email, {
                    label: 'Votre mail : '
                }) }}<br/>           
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe : '
                }) }}<br/>       
                {{ form_row(registrationForm.agreeTerms, {
                    label: ' Accepter les conditions'
                }) }}<br/>
            
                <button type="submit" class="btn btn-danger">s'incrire</button>
            {{ form_end(registrationForm) }}
            
    </div>
{% endblock %}


