{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}   
<div class="container text-center" id="ind" >    
    <h2 class="py-5">Vos Projets</h2>
    <div class="row " >
        {% for project in projects %}
           <div class="col-12 col-md-6 col-lg-4 my-2">
            <div class="card text-center">
                <div class="card-header"> 
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> {{project.name}}</li>
                        <li class="list-group-item">Date de création : {{project.datecreat ? project.datecreat|date('d/m/Y')}}</li>
                        <li class="list-group-item "><h5>Résumé du projet</h5>{{project.summary}}</li>
                         <li class="list-group-item">Date d'éxpiration : {{project.deadline ? project.deadline|date('d/m/Y')}}</li>
                        <li class="list-group-item"><a class="btn btn-success" href="{{ path('project_show', {'id': project.id}) }}">voir les tâches</a></li>
                        <li class="list-group-item"><a class="btn btn-danger" href="{{ path('project_delete',{'id': project.id})}}">supprimer le projet</a></li>        
                    </ul>
                </div>
            </div>
        </div>
          {% endfor %}   
    </div>
</div> 
{% endblock %}
 