{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    
    <div class="container" >  
     <a class="btn btn-primary ent" href="{{ path('project_index') }}"> <- retour à Liste des projets</a>
        <h1>votre Projet</h1> 
        <div class="row " >
             <div class="col-12 col-md-6 col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-header"> 
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Projet n° : {{ project.id }}</li>
                            <li class="list-group-item">{{ project.name }}</li>
                            <li class="list-group-item">Crée le : {{ project.datecreat ? project.datecreat|date('d-m-Y')}}</li>
                            <li class="list-group-item">{{ project.summary }}</li>
                            <li class="list-group-item">Expire le : {{ project.deadline ? project.deadline|date('d-m-Y') }}</li>
                            <li class="list-group-item"><a class= "btn btn-success" href="{{ path('project_edit', {'id': project.id}) }}">modifier</a></li>
                            <li class="list-group-item">{{ include('project/_delete_form.html.twig') }}</li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>




             <h1>Tâches</h1>
{% for task in project.tasks %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>NameTask</th>
                <td>{{ task.nameTask }}</td>
            </tr>
            <tr>
                <th>SummaryTask</th>
                <td>{{ task.summaryTask }}</td>
            </tr>
            <tr>
                <th>DateTask</th>
                <td>{{ task.dateTask ? task.dateTask|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeadlineTask</th>
                <td>{{ task.deadlineTask ? task.deadlineTask|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ task.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('task_index') }}">back to list</a>

    <a href="{{ path('task_edit', {'id': task.id}) }}">edit</a>

    {{ include('task/_delete_form.html.twig') }}

{% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('task_new') }}">Create new</a>



{% endblock %}
