{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    
    <div class="container" >  
        <a class="btn btn-primary ent" href="{{ path('project_index') }}"> <- retour à Liste des projets</a>
            <h1>votre Projet</h1> 
            <div class="row " >
                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <div class="card text-center">
                        <div class="card-header"> 
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Projet n° : {{ project.id }}</li>
                                <li class="list-group-item">{{ project.name }}</li>
                                <li class="list-group-item">Crée le : {{ project.datecreat ? project.datecreat|date('d-m-Y')}}</li>
                                <li class="list-group-item">{{ project.summary }}</li>
                                <li class="list-group-item">Expire le : {{ project.deadline ? project.deadline|date('d-m-Y') }}</li>
                                <li class="list-group-item"><a class= "btn btn-success" href="{{ path('project_edit', {'id': project.id}) }}">modifier</a></li>
                                <li class="list-group-item">{{ include('project/_delete_form.html.twig') }}</li>
                            </ul>
                        </div>
                    </div> 
                </div>
            </div>




    <h1>Vos Tâches</h1> 
        <a class= "btn btn-primary" href="{{ path('task_new', {'id' : project.id}) }}">nouvelle tâche</a>
                <div class="row " >
                        {% for task in project.tasks %}
                            <div class="col-12 col-md-6 col-lg-4 my-2">
                                <div class="card text-center">
                                    <div class="card-header"> 
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Projet n° : {{ project.id }}</li>
                                            <li class="list-group-item">{{ task.nameTask}}</li>
                                            {% if task.status == 1 %}
                                           <li class="list-group-item"><h5>En cours</h5><i class="fas hou fa-hourglass-half"></i></li>
                                           {% else %}
                                           <li class="list-group-item"><h5>Terminer</h5><i class="fas check fa-check-double"></i></li>
                                           {%  endif %}
                                            <li class="list-group-item">Crée le : {{ task.dateTask ? task.dateTask|date('Y-m-d')}}</li>
                                            <li class="list-group-item"><h5>description</h5>{{  task.summaryTask }}</li>
                                            <li class="list-group-item">Expire le : {{ task.deadlineTask ? task.deadlineTask|date('Y-m-d')}}</li>
                                            <li class="list-group-item"><a class= "btn btn-success" href="{{ path('task_edit', {'id': task.id}) }}">modifier</a></li>
                                            <li class="list-group-item">{{ include('task/_delete_form.html.twig') }}</li>    
                                        </ul>
                                    </div>
                                </div> 
                            </div>
                    {% endfor %}     
                </div>
            
    </div>    
{% endblock %}        




  
    